@import "~@fluentui/react/dist/sass/References.scss";

.todoList {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.ItemList {
  border-radius: 16px;
  height: 24px;
  white-space: "nowrap";
  padding: 4px 8px;
  max-width: max-content;
}

.statusPending {
  background-color: "#ffe092";
  color: "#997825";
}
