@import "~@fluentui/react/dist/sass/References.scss";

.ItemList {
  border-radius: 16px;
  height: 24px;
  white-space: "nowrap";
  padding: 4px 8px;
  max-width: max-content;
}

.statusPending {
  background-color: "[theme: warning, default:#fff4ce]";
  color: "[theme: OrangeYellow20, default:#986f0b]";
}

.statusCompleted {
  background-color: "[theme: Success, default: #dff6dd]";
  color: "[theme: Success Icon, default: #107c10]";
}

.statusActive {
  background-color: "[theme: Gray10, default: #faf9f8]";
  color: "[theme: CyanBlue20, default: #004e8c]";
}

.statusOverdue {
  background-color: "[theme: Severe Warning, default: #fed9cc]";
  color: "[theme: red,default: #d13438]";
}
