@import "~@fluentui/react/dist/sass/References.scss";

.ItemList {
  border-radius: 16px;
  height: 24px;
  white-space: "nowrap";
  padding: 4px 8px;
  max-width: max-content;
}

.statusPending {
  background-color: "[theme: neutralLight, default:#edebe9]";
  color: "[theme: orangeLighter, default:#ff8c00]";
}

.statusCompleted {
  background-color: "[theme: neutralLight, default: #edebe9]";
  color: "[theme: green, default: #107c10]";
}

.statusActive {
  background-color: "[theme: neutralLight, default: #edebe9]";
  color: "[theme: blue, default: #0078d4]";
}

.statusOverdue {
  background-color: "[theme: neutralLight, default: #edebe9]";
  color: "[theme: red,default: #d13438]";
}
